%li 
  .task-time 
    = task.created_at
  .task-description
    = task.description
  .task-hours
    = task.hours
  .task-actions
    = link_to 'Destroy',  task,  method: :delete, data: { confirm: 'Are you sure?' }