%tr
  %td
    = task.created_at
  %td
    = task.description
  %td  
    = task.hours
  %td
    = link_to 'Destroy',  task, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }