- if alert
  - options = {div_class: "warning", icon_class: "warning", type: alert}
- elsif notice
  - options = {div_class: "success", icon_class: "check", type: notice}
- if options
  .box-body
    .col-md-8.col-md-offset-2
      .alert.alert-dismissible{class: "alert-#{options[:div_class]}"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
        %i.icon.fa{class: "fa-#{options[:icon_class]}"}
        = options[:type]
