%header.main-header
  %a.logo{:href => "/"}
    / mini logo for sidebar mini 50x50 pixels
    %span.logo-mini
      %b> T
      C
    / logo for regular state and mobile devices
    %span.logo-lg
      %b> Gap
      Nix
  = render "shared/top_navigation"
