.container-fluid
  .row
    %table.table.table-striped
      %thead
        %tr
          %td Category
          %td Description
          %td Actions
      - @categories.each do |category|
        %tr
          %td
            #{category.name}
          %td
            #{category.description}
          %td
            = link_to "Edit", edit_user_project_path(id: project, user_id: current_user.id), class: 'btn btn-default'
            &nbsp;
            = link_to "Delete", user_project_path(id: project, user_id: current_user.id), class: 'btn btn-default', method: 'delete'