%tr
  %td
    = category.name
  %td
    = category.description
  %td
    = link_to "", edit_user_project_category_path(id: category, project_id:category.project_id, user_id: current_user.id), class: 'btn btn-default fa fa-edit'
    &nbsp;
    = link_to "", user_project_category_path(id: category, project_id:category.project_id, user_id: current_user.id), class: 'btn btn-default fa fa-trash', method: 'delete'