.width140
{
    width:140px;
}

.title-blue
{
    background-color: #3c8dbc !important;
    padding: 5px;
}
.personalized-body
{
    padding: 4px !important;
}

.title-grey
{
    background-color: #6e8796 !important;
}